{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}
 
<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
  </head>
  <body>
    <h1>Hello World !</h1>
 
    <p>
      <a href="{{ path('sdzblog_voir', { 'id': article_id }) }}">Lien vers l'article d'id {{ article_id }}</a>
    </p>
  </body>
</html>